<div class="overlay" {{action 'removeModal'}}></div>
<div class="modal">     
     <div class="head-popup green-header">
	<span class="project-name">{{selectedappName}}</span> <span class="close-popup" {{action 'removeModal'}}>x</span>
      </div>
      <div class="body-popup">
	<table>
		<thead>
			<tr>
				<th>Server</th>
				<th>Version</th>
				<th>Branch</th>
                		<th>Status</th>
			</tr>
		</thead>
		<tbody class="body">
			{{#each data in serverStatusList}}	
				<tr>
					<td><span></span>{{data.serverName}}</td>
					<td>{{data.version}}</td>
					<td>{{data.branch}}</td>
					<td>{{data.errorCode}}</td>
				</tr>		
        		{{/each}}
		</tbody>
	</table>
      </div>    
</div>
